## Flow Control Statement

### Selection Statement

In [1]:
name=input("Enter your name: ")
if name=="Vivek":
    print("Hello Vivek")
print("How are You?")

Enter your name: Vivek
Hello Vivek
How are You?

In [2]:
name=input("Enter your name: ")
if name=="Vivek":
    print("Hello Vivek")
else:
    print("Hello Guest")
print("How are You?")

Enter your name: Abhi
Hello Guest
How are You?

In [3]:
name=input("Enter your car name: ")
if name=="Tesla":
    print("Tesla Car")
else:
    print("Other Car")
print("You are so beautiful")

Enter your car name: Tesla
Tesla Car
You are so beautiful

In [4]:
a=int(input())
b=int(input())
c=int(input())
print("Minimum",min(a,b,c))
print("Maximum",max(a,b,c))

1
5
4
Minimum 1
Maximum 5

In [5]:
a=int(input())
b=int(input())
c=int(input())
if b>c and a>c:
    print("Minimum: ",c)
elif a>b and c>b:
    print("Minimum: ",b)
else:
    print("Minimum: ",a)

if b>c and b>a:
    print("Maximum: ",b)
elif a>b and a>c:
    print("Maximum: ",a)
else:
    print("Maximum: ",c)

1
5
4
Minimum:  1
Maximum:  5

### Iterative Statement

In [6]:
S="LION"
for x in S:
    print("Character present at {} index:{}".format(S.index(x),x))

Character present at 0 index:L
Character present at 1 index:I
Character present at 2 index:O
Character present at 3 index:N

In [7]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [8]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
l=[1,2,3]
s=0




for i in l:
    s+=i
print("Sum: ",s)

Sum:  6

In [14]:
i=0
while(i<10):
    print("Hello")
    i+=1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [19]:
 i=3
while(i<20):
    print(i)
    i+=3

3
6
9
12
15
18

In [20]:
name=''
while name!='sunny':
    name=input('Enter Name:')
print('Thanks')

Enter Name:hello
Enter Name:sunny
Thanks

In [21]:
for i in range(3):
    for i in range(2):
        print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [22]:
for i in range(10):
    if i==7:
        print("loop breaked")
        break
    print(i)

0
1
2
3
4
5
6
loop breaked

In [29]:
cart=[100,200,650,60,30,800]
for i in cart:
    if i>500:
        print(i,"Insurance required")
        break
    print(i)

100
200
650 Insurance required

In [25]:
for i in range(10):
    if i==7:
        print("loop skipped")
        continue
    print(i)

0
1
2
3
4
5
6
loop skipped
8
9

In [28]:
cart=[100,200,650,60,30,800]
for i in cart:
    if i>500:
        print(i,"Insurance required")
        continue
    print(i)

100
200
650 Insurance required
60
30
800 Insurance required

In [30]:
for i in range(10):
    if i%2==0:
        break
    print(i)

In [32]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [34]:
for i in range(3):
    for j in range(3):
        if(i==j):
            break
        print(i,j)

1 0
2 0
2 1

In [35]:
for i in range(3):
    for j in range(3):
        if(i==j):
            continue
        print(i,j)

0 1
0 2
1 0
1 2
2 0
2 1

### int(): returns an integer number
### float(): returns an float value
### input(): allow user input
### len(): Returns the length of an object
### range(): Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
### sorted(): Returns a sorted list
### memoryview(): Returns a memory view object
### tuple(): Returns a tuple
### str(): Returns a string object
### type(): Returns the type of an object

In [36]:
x=15.25
y=int(x)
y

15

In [37]:
x=15
y=float(x)
y

15.0

In [38]:
x=input("Type Here:")
x

Type Here:Hello

'Hello'

In [39]:
l=[1,5,4]
len(l)

3

In [40]:
for i in range(4):
    print(i)

0
1
2
3

In [47]:
l=[5,4,6,8,2,7,1]
sorted(l)

[1, 2, 4, 5, 6, 7, 8]

In [46]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
memoryview(arr)

In [48]:
tuple(l)

(5, 4, 6, 8, 2, 7, 1)

In [49]:
str(l)

'[5, 4, 6, 8, 2, 7, 1]'

In [50]:
type(l)

list